<div class="row">

    <div class="large-9 columns">
    <% @blogs.each do |blog| %>

            <div class="row panel" role="content">

              <article>
                <h1><%= blog.title %></h1>
                <span>
                  <% if !blog.media.url.include? "missing" %>
                    <%= image_tag blog.media.url(:medium) %>
                  <% end %>
              </span>
                <h6>Written By: <%= blog.user.name %></h6>

                <div class="row">
                <div class="large-10 columns">
                  <div class="blog_summary">
                    <%= blog.body.html_safe %>
                </div>
              </div>
            </div>
                <%= link_to 'Read This', url_for(blog), class: "button radius" %>
          </article>
          </div>
          <hr/>

    <% end %>
</div>
<div class="some-class">
    <aside class="large-3 columns aside">
        <div class="panel">
            <h4>Featured</h4><hr/>
            <h5><strong><%= @blogs.first.title %></strong></h5>
            <div class="blog_summary2">
                <p><%= @blogs.first.body.html_safe %></p>
            </div>
          <%= link_to 'Read This', url_for(@blogs.first), class: "button tiny round"%>
        </div>
    </aside>
</div>
</div>
