<div class="row">
<span>
<div class="large-9 push-2 columns">
  <h1><%= @blog.title %></h1>
  <h4> By: <%= @blog.user.name %><h4>
    <% if !@blog.media.url.include? "missing" %>
      <%= image_tag @blog.media.url(:medium) %>
    <% end %>
    <p><%= @blog.body.html_safe %><p>
      <% if user_signed_in? && current_user == @blog.user %>
        <%= link_to 'Edit', edit_blog_path(@blog.id), class: "button radius" %>
        <%= link_to 'Delete', blog_path(@blog.id), method: :delete, data: {confirm: "#{current_user.name.split(' ')[0]}, You sure about that brother?"}, class: "button radius alert" %>
      <% end %>
</div>
</span>
<span>
<div class="panel div-thing">
  <ul class="side-nav">
    <h4>Moar Stuff!</h4><hr/>
    <% if @blog != Blog.last %>
        <li><%= link_to "Next", blog_path(@blog.next.id),  class: "button radius", id:"button1" %></li>
    <% end %>
    <% if @blog != Blog.first %>
      <li><%= link_to "Previous", blog_path(@blog.previous.id), class: "button radius", id:"button2" %></li>
    <% end %>
    <li><%= link_to "Videos", videos_path, class: "button radius", id:"button3" %></li>
</div>
</span>
</div>
